<!--
<ul>
<li *ngFor="let types of type">
{{types.name}},<br>
{{types.from}}, <br>
{{types.taste}},<br>
{{types.made}},<br>
{{types.link}}<br>
</li>

</ul>
-->


<ul>
    <li *ngFor="let types of type"
    (click)="choosePickle(types)">
    {{types.name}}
    </li>
    
    </ul>
    
    
    <div *ngIf="pickle">
        <p>Choose a pickle type above to learn more!</p>
      <h5> This Pickles name: {{pickle.name}}</h5>
      <h5>This Pickle is from: {{pickle.from}}</h5>
      <h5>This Pickle was originally made: {{pickle.made}}</h5>
      <h5>This Pickles taste: {{pickle.taste}}</h5>
      <h5>Link to recipe: {{pickle.link}}</h5>
    </div>
    
    
