<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid bg-1 text-center">
      <div class="background">
        <div class="mission">
          <p>
            OUR MISSION AT PICKLE HEAVEN IS TEACHING EVERYONE HOW EASY IT IS TO
            PICKLE WITH ORIGINALITY, INNOVATION AND CREATIVITY.
          </p>
          <h6>
            Pickles have been around for thousands of years, as far back as 2030
            BC when in India cucumbers were pickled. The word pickle comes from
            the Dutch 'pekel' or northern German 'pókel', meaning salt or brine,
            two important components in the pickling process.
          </h6>
        </div>
      </div>
    </div>
  </body>
</html>


  