<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shope Online for Local Pickles</title>
</head>
<body>
    <br><br>
    <a href="https://randyspickles.com/">Randys Pickles</a>
    <br>
    <img src="https://cdn.shopify.com/s/files/1/0517/1913/articles/food_waste_medium.JPG?v=1556297176" alt="Randys Pickles image">
    <br><br>
    <a href="https://www.porknpickles.com/">Pork & Pickles</a>
    <br>
    <img scr="https://static1.squarespace.com/static/5d94e8f60c5b607d9c894fec/t/5d94e97d35bc6f4984f63f39/1598242501446/?format=1500w" alt="Pork & Pickle logo">
    <br><br>
    <a href="tps://www.the-crazycucumber.com">The Crazy Cucumber</a>
    <br>
    <img scr="https://www.the-crazycucumber.com/uploads/b/aea762a0-7d99-11ea-a992-df5f2738c1fe/dc470950-7e5e-11ea-a5fd-4fbef532e67a.jpg?width=2400" alt="Crazy Cucumber logo">
    <br><br>
    <a href="https://kaiserpickles.com/">Kaiser Pickles</a>
    <br>
    <img scr="https://static1.squarespace.com/static/5a578a8032601ee2938f45ab/t/5a578b8cc8302558ef01791c/1587065947889/?format=1500w" alt="Kaiser logo">
</body>
</html>
