<div nav>

  <div img>
    <br>
   <img src="https://i.pinimg.com/originals/90/8a/06/908a06d5a21bd86e73202415853f96f0.jpg" alt="Pickle Heaven">
 </div>
 
 <nav class="navbar navbar-inverse">
 
 
 


       <div button>
         <ul>
           <li><button type="button"> <a routerLink="/types-component">Check Out Types</a></button></li>
<br>
           <li><button type="button">Shop Ohio</button></li>
<br>
           <li><button type="button"><a routerLink="/home">Home</a></button></li>

         </ul>
       </div>