
    <div class="container-fluid bg-1 text-center">
    
        <div class="img">
            <br>
           <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-pickle-how-to-495-1542748711.jpg?crop=0.667xw:1.00xh;0.0948xw,0&resize=480:*" alt="Pickle Heaven">
         </div>



         <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="mission">
    <p>
    OUR MISSION AT PICKLE HEAVEN IS TEACHING EVERYONE HOW EASY IT IS TO PICKLE WITH ORIGINALITY, INNOVATION AND CREATIVITY.
</p>
</div>

